* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  background-color: #061d16;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 0px 0px 5px gray;
  text-decoration: underline;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 35px;
  flex-wrap: wrap;
}

.choice {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice:hover {
  cursor: pointer;
  background-color: #061d16;
}
.choice img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  user-select: none;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
  flex-wrap: wrap;
}

#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 5rem;
}

#msg {
  background-color: #061d16;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
  user-select: none;
  font-family: sans-serif;
}
@media screen and (max-width: 550px) {
  #msg {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
